name: Test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
    - run: |
        sudo apt-get update
        sudo apt install -y libarchive-tools lintian cpanminus btrfs-utils
        false
      env:
        SHELL: /usr/bin/bash
    - name: Setup tmate session on failure
      if: failure()
      uses: mxschmitt/action-tmate@v3
      with:
        limit-access-to-actor: true
